/RGtk2/R/.Rhistory
/RGtk2/config.log
/RGtk2/src/Makevars
/RGtk2/config.status
/RGtk2/src/RGtk2.so
/RGtk2/src/RGtkDataFrame.o
/RGtk2/src/Rgtk.o
/RGtk2/src/atkAccessors.o
/RGtk2/src/atkClasses.o
/RGtk2/src/atkConversion.o
/RGtk2/src/atkFuncs.o
/RGtk2/src/atkManuals.o
/RGtk2/src/atkUserFuncs.o
/RGtk2/src/cairo-enums.o
/RGtk2/src/cairoAccessors.o
/RGtk2/src/cairoConversion.o
/RGtk2/src/cairoFuncs.o
/RGtk2/src/cairoManuals.o
/RGtk2/src/cairoUserFuncs.o
/RGtk2/src/classes.o
/RGtk2/src/conversion.o
/RGtk2/src/eventLoop.o
/RGtk2/src/gdkAccessors.o
/RGtk2/src/gdkClasses.o
/RGtk2/src/gdkConversion.o
/RGtk2/src/gdkFuncs.o
/RGtk2/src/gdkManuals.o
/RGtk2/src/gdkUserFuncs.o
/RGtk2/src/gioAccessors.o
/RGtk2/src/gioClasses.o
/RGtk2/src/gioConversion.o
/RGtk2/src/gioFuncs.o
/RGtk2/src/gioManuals.o
/RGtk2/src/gioUserFuncs.o
/RGtk2/src/glib.o
/RGtk2/src/gobject.o
/RGtk2/src/gtkAccessors.o
/RGtk2/src/gtkClasses.o
/RGtk2/src/gtkConversion.o
/RGtk2/src/gtkFuncs.o
/RGtk2/src/gtkManuals.o
/RGtk2/src/gtkUserFuncs.o
/RGtk2/src/pangoAccessors.o
/RGtk2/src/pangoClasses.o
/RGtk2/src/pangoConversion.o
/RGtk2/src/pangoFuncs.o
/RGtk2/src/pangoManuals.o
/RGtk2/src/pangoUserFuncs.o
/RGtk2/src/utils.o
/RGtk2/src/zcompat.o
