export(browsegWidgetsFiles)
export(browseQtFiles)
export(browseRGtk2Files)
export(browseTclTkFiles)
export(avail_dfs)
export(find_vars)
S3method(find_vars, default)
S3method(find_vars, character)
S3method(find_vars, data.frame)
S3method(find_vars, environment)
export(nsprintf)
export(validDate)
export(day.of.week)
export(days.in.month)
export(week.of.month)
export(make_icon)
S3method(make_icon, numeric)
S3method(make_icon, factor)
S3method(make_icon, character)
S3method(make_icon, logical)
S3method(make_icon, data.frame)
export(LoremIpsum)
export(showGtkWidgetInfo)
